[INT:NumDocks]
26

[INT:index]
0

[STRING-15:label]
Viewer###Viewer

[FLOAT-2:pos]
8.000 55.000

[FLOAT-2:size]
1122.000 825.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
1

[BOOL:opened]
1

[INT:prev]
-1

[INT:next]
-1

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
2

[INT:index]
1

[STRING-32:label]
Viewer Controls###ViewerControls

[FLOAT-2:pos]
8.000 880.000

[FLOAT-2:size]
1122.000 152.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
1

[BOOL:opened]
1

[INT:prev]
-1

[INT:next]
-1

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
2

[INT:index]
2

[STRING:label]


[FLOAT-2:pos]
8.000 55.000

[FLOAT-2:size]
1122.000 977.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
1

[BOOL:opened]
0

[INT:prev]
-1

[INT:next]
-1

[INT:child0]
0

[INT:child1]
1

[INT:parent]
4

[INT:index]
3

[STRING-20:label]
Node Tree###NodeTree

[FLOAT-2:pos]
1130.000 669.000

[FLOAT-2:size]
782.000 363.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
1

[BOOL:opened]
1

[INT:prev]
-1

[INT:next]
-1

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
6

[INT:index]
4

[STRING:label]


[FLOAT-2:pos]
8.000 55.000

[FLOAT-2:size]
1904.000 977.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
1

[BOOL:opened]
0

[INT:prev]
-1

[INT:next]
-1

[INT:child0]
2

[INT:child1]
6

[INT:parent]
-1

[INT:index]
5

[STRING-30:label]
Basic Settings###BasicSettings

[FLOAT-2:pos]
1130.000 55.000

[FLOAT-2:size]
782.000 614.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
0

[BOOL:opened]
1

[INT:prev]
-1

[INT:next]
7

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
6

[INT:index]
6

[STRING:label]


[FLOAT-2:pos]
1130.000 55.000

[FLOAT-2:size]
782.000 977.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
1

[BOOL:opened]
0

[INT:prev]
-1

[INT:next]
-1

[INT:child0]
5

[INT:child1]
3

[INT:parent]
4

[INT:index]
7

[STRING-19:label]
Position###Position

[FLOAT-2:pos]
1130.000 55.000

[FLOAT-2:size]
782.000 614.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
0

[BOOL:opened]
1

[INT:prev]
5

[INT:next]
8

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
6

[INT:index]
8

[STRING-19:label]
Rotation###Rotation

[FLOAT-2:pos]
1130.000 55.000

[FLOAT-2:size]
782.000 614.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
0

[BOOL:opened]
1

[INT:prev]
7

[INT:next]
9

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
6

[INT:index]
9

[STRING-13:label]
Scale###Scale

[FLOAT-2:pos]
1130.000 55.000

[FLOAT-2:size]
782.000 614.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
0

[BOOL:opened]
1

[INT:prev]
8

[INT:next]
10

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
6

[INT:index]
10

[STRING-43:label]
Basic Render Settings###BasicRenderSettings

[FLOAT-2:pos]
1130.000 55.000

[FLOAT-2:size]
782.000 614.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
0

[BOOL:opened]
1

[INT:prev]
9

[INT:next]
11

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
6

[INT:index]
11

[STRING-32:label]
Render Settings###RenderSettings

[FLOAT-2:pos]
1130.000 55.000

[FLOAT-2:size]
782.000 614.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
1

[BOOL:opened]
1

[INT:prev]
10

[INT:next]
12

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
6

[INT:index]
12

[STRING-38:label]
Force field (Local)###AttractionForces

[FLOAT-2:pos]
1130.000 55.000

[FLOAT-2:size]
782.000 614.000

[FLOAT-2:floatmode_size]
328.000 319.000

[ENUM:status]
0

[BOOL:active]
0

[BOOL:opened]
1

[INT:prev]
11

[INT:next]
13

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
6

[INT:index]
13

[STRING-32:label]
Spawning Method###SpawningMethod

[FLOAT-2:pos]
1130.000 55.000

[FLOAT-2:size]
782.000 614.000

[FLOAT-2:floatmode_size]
300.000 300.000

[ENUM:status]
0

[BOOL:active]
0

[BOOL:opened]
1

[INT:prev]
12

[INT:next]
14

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
6

[INT:index]
14

[STRING-13:label]
Depth###Depth

[FLOAT-2:pos]
1130.000 55.000

[FLOAT-2:size]
782.000 614.000

[FLOAT-2:floatmode_size]
300.000 300.000

[ENUM:status]
0

[BOOL:active]
0

[BOOL:opened]
1

[INT:prev]
13

[INT:next]
20

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
6

[INT:index]
15

[STRING-18:label]
F-Curves###FCurves

[FLOAT-2:pos]
813.000 236.000

[FLOAT-2:size]
967.000 405.000

[FLOAT-2:floatmode_size]
967.000 405.000

[ENUM:status]
1

[BOOL:active]
1

[BOOL:opened]
1

[INT:prev]
-1

[INT:next]
-1

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
-1

[INT:index]
16

[STRING-32:label]
Camera Settings###CameraSettings

[FLOAT-2:pos]
60.000 60.000

[FLOAT-2:size]
300.000 300.000

[FLOAT-2:floatmode_size]
300.000 300.000

[ENUM:status]
1

[BOOL:active]
1

[BOOL:opened]
1

[INT:prev]
-1

[INT:next]
-1

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
-1

[INT:index]
17

[STRING-17:label]
Options###Options

[FLOAT-2:pos]
60.000 60.000

[FLOAT-2:size]
300.000 300.000

[FLOAT-2:floatmode_size]
300.000 300.000

[ENUM:status]
1

[BOOL:active]
1

[BOOL:opened]
1

[INT:prev]
-1

[INT:next]
-1

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
-1

[INT:index]
18

[STRING-25:label]
Environment###Environment

[FLOAT-2:pos]
60.000 60.000

[FLOAT-2:size]
415.000 300.000

[FLOAT-2:floatmode_size]
415.000 300.000

[ENUM:status]
1

[BOOL:active]
1

[BOOL:opened]
1

[INT:prev]
-1

[INT:next]
-1

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
-1

[INT:index]
19

[STRING-24:label]
Global Settings###Global

[FLOAT-2:pos]
60.000 60.000

[FLOAT-2:size]
300.000 300.000

[FLOAT-2:floatmode_size]
300.000 300.000

[ENUM:status]
1

[BOOL:active]
1

[BOOL:opened]
1

[INT:prev]
-1

[INT:next]
-1

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
-1

[INT:index]
20

[STRING-19:label]
Behavior###Behavior

[FLOAT-2:pos]
1130.000 55.000

[FLOAT-2:size]
782.000 614.000

[FLOAT-2:floatmode_size]
300.000 606.000

[ENUM:status]
0

[BOOL:active]
0

[BOOL:opened]
1

[INT:prev]
14

[INT:next]
25

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
6

[INT:index]
21

[STRING-17:label]
Culling###Culling

[FLOAT-2:pos]
60.000 60.000

[FLOAT-2:size]
300.000 300.000

[FLOAT-2:floatmode_size]
300.000 300.000

[ENUM:status]
1

[BOOL:active]
1

[BOOL:opened]
1

[INT:prev]
-1

[INT:next]
-1

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
-1

[INT:index]
22

[STRING-17:label]
Network###Network

[FLOAT-2:pos]
424.000 101.000

[FLOAT-2:size]
300.000 300.000

[FLOAT-2:floatmode_size]
300.000 300.000

[ENUM:status]
1

[BOOL:active]
1

[BOOL:opened]
1

[INT:prev]
-1

[INT:next]
-1

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
-1

[INT:index]
23

[STRING-24:label]
File Viewer###FileVeiwer

[FLOAT-2:pos]
60.000 60.000

[FLOAT-2:size]
300.000 300.000

[FLOAT-2:floatmode_size]
300.000 300.000

[ENUM:status]
1

[BOOL:active]
1

[BOOL:opened]
1

[INT:prev]
-1

[INT:next]
-1

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
-1

[INT:index]
24

[STRING-36:label]
Dynamic parameter###DynamicParameter

[FLOAT-2:pos]
456.000 113.000

[FLOAT-2:size]
300.000 300.000

[FLOAT-2:floatmode_size]
300.000 300.000

[ENUM:status]
1

[BOOL:active]
1

[BOOL:opened]
1

[INT:prev]
-1

[INT:next]
-1

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
-1

[INT:index]
25

[STRING-19:label]
Recorder###Recorder

[FLOAT-2:pos]
1130.000 55.000

[FLOAT-2:size]
782.000 614.000

[FLOAT-2:floatmode_size]
486.000 537.000

[ENUM:status]
0

[BOOL:active]
0

[BOOL:opened]
1

[INT:prev]
20

[INT:next]
-1

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
6

